
# Fichiers système
Thumbs.db
desktop.ini
.DS_Store
*.log
*.tmp

# Configurations de l'environnement local
.htaccess

# Exclure les fichiers de cache
cache/
*.cache

# Répertoires ou fichiers de travail inutiles
wp-content/upgrade/
wp-content/debug.log
wp-content/wflogs/

# Autres fichiers potentiellement sensibles ou inutiles
.env
*.bak
*.swp
.idea/
.vscode/
node_modules/
npm-debug.log

# Inclure le fichier SQL exporté
!database/*.sql